@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body{
    height: 100vh;
}

nav{
    background-color: #FFD100;
    height: 35px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#menu-list{
    display: none;
}

#menu-list.expandir{
    width: 200px;
    list-style: none;
    left: 0;
    display: block;
    position: fixed;
}

.item{
    height: 40px;
    width: 100%;
    margin-top: 10px;
}

.item>a{
    text-decoration: none;
    color: black;
    padding: 0 10px 0 10px;
    display: flex;
}

.circle{
    width: 30px;
    height: 25px;
    background-color: #FFD100;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: 12px 15px 0 0; 
}

.txt{
    border-radius: 50px;
    border: 1px solid #BFBFBF;
    padding: 5px;
    width: 160px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 2px 0 0 #BFBFBF;
}

.txt:hover{
    transition: 0.35s;
    transform: scale(0.9);
}

#user-icon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px 20px 0 0;
    cursor: pointer;
}

#menu-btn{
    cursor: pointer;
}

#sec-1{
    margin:100px;
}

#head-div{
    display: inline-flex;
    width: 100%;
}

#head-div>form{
    right: 0;
    position: fixed;
    margin-right: 100px;
}

#busca{
    border-radius: 50px;
    border: solid #FFD100;
    padding: 5px;
}

#btn-busca{
    background-color: #FFD100;
    color: black;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 5px;
    border-style: none;
}

#div-table{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

table{
    width: 100%;
}
/*\configurações da tabela*/

/*modal*/
#modal{
    margin: 30px 100px 30px 100px;
    width: 30%;
}

#color{
    border-radius: 40px 40px 0 40;
    background-color: #FFD100;
    height: 30px;
}

#box{
    background-color: #fff;
    border-radius: 40px ;
    border: solid #BFBFBF;
    padding:  0  20px 20px 20px;
}

#mini-box{
    margin: 30px;
}

.input{
    background-color: #F1EFEF;
    border-radius: 20px;
    border-style: none;
    padding: 5px;
    margin: 2px;
}

#mini-input{
    display: flex;
    margin: 0;
}

#btn-adc{
    border-radius: 20px;
    background-color: #FFD100;
    color: black;
    font-weight: 500;
    padding: 5px;
    border-style: none;
    width: 40%;
}