* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
}

#corpo {
    display: flex;
    flex-direction: row;
    height: 100vh; 
}

#esquerda {
    background-color: rgba(255, 209, 0, 1);
    height: 100%;
    width: 35%; 
    border-radius: 0% 15% 15% 0%;
}

#direita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 65%;
}

#form{
    
}

.input-box {
    position: relative;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
    
}
.input-box input{
    width: 300px;
    border-radius: 100px;
    border: 0;
    background-color: rgba(241, 239, 239, 1);
    padding-left: 50px;
    font-size:15px;
}



.input-box img {
    
   
    
}


#btn{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#btn button {
    border-radius: 100px;
    width: 200px;
    height: 40px;
    border: 0;
    background-color: rgba(255, 209, 0, 1);
    color:white;
    font-size:20px;
    margin-bottom: 10px;
}

#btn button:hover {
    background-color: rgba(3, 0, 1, 0.404);
}